*, body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold !important;
  font-family: inherit;
  text-transform: capitalize;
}

li {
  list-style: none;
}

/* Start Link */
a {
  text-decoration: none;
  color: var(--font-color5) !important;
  font-size: 17px;
}

a:hover {
  color: var(--font-color4) !important;
}

.link {
  padding: 10px;
}

.more {
  text-align: center;
}

/* End Link */
p, h1, h2, h3, h4, h5, h6, a, button, .button-1, .button-2 {
  text-transform: capitalize;
}

a, button {
  -webkit-transition: .6s;
  transition: .6s;
}

p {
  font-size: 1em;
  line-height: 28px;
  margin-top: 18px;
  letter-spacing: 1px;
  color: var(--font-color3);
  text-align: center;
}

h1 {
  text-align: center;
  color: var(--font-color6);
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 2rem;
}

h5 {
  color: var(--font-color6);
  margin-bottom: 15px;
  font-size: x-large;
}

h6 {
  color: var(--font-color2);
  margin-top: 5%;
}

button, select {
  outline: none !important;
}

.cards section {
  width: 30% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cards section .img {
  height: 10rem;
}

.cards section .img img {
  border-radius: 25px 25px 0 0;
}

.cards section .text-main {
  width: 100%;
  height: auto;
  text-align: center;
}

.cards section .text-main a:hover {
  text-decoration: underline;
}

main {
  margin: 3em 0;
}

main .item {
  background-color: var(--bg-color2);
  border: 3px solid var(--border-color2);
  padding: 1rem;
  border-radius: 25px;
}

main .item.item-small {
  width: 60%;
  position: relative;
  left: 21%;
}

main .item section {
  border: 2px solid var(--border-color2);
  padding: 0;
  border-radius: 25px;
  background-color: var(--bg-color3);
}

main .item section img {
  width: 100%;
  height: 100%;
}

main .item section .text-main {
  padding: 1rem;
  height: 100%;
}

main .item section .text-main p {
  line-height: 22px;
}

.search-box {
  position: relative;
}

.search-box .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-box .search input.form-control {
  font-size: 18px;
  margin: 1rem 0;
  border-radius: 16px;
  border: 3px solid var(--border-color1);
  margin-bottom: -17px;
}

.search-box .search button {
  margin-top: 6%;
}

.line-bottom {
  border-bottom: 3px solid var(--border-color2);
}

.line-top {
  border-top: 3px solid var(--border-color2);
}

.first-item {
  margin-top: 7.5em !important;
}

.social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
}

.social-links li {
  margin-right: 1.5rem;
  width: 30px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.social-links li a {
  font-size: 28px !important;
}

.social-links li a:hover {
  font-size: 40px !important;
}

header {
  width: 100%;
  background-color: var(--bg-color2);
}

header nav {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav img {
  width: 100px;
  margin-left: 15px;
}

header nav .menu-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .menu-nav ul a {
  padding: 15px;
}

:root {
  --font-color1: #0d6efd;
  --font-color2: #c9dfff;
  --font-color3: #dbdeef;
  --font-color4: #3c88f9;
  --font-color5: #aec0dc;
  --font-color6: #7fa7e2;
  --font-color7: #d5dbe6;
  /* Start Border Colors */
  --border-color1: #5180c8;
  --border-color2: #0067FF;
  --border-color3: #041E42;
  /* Start Shadow Colors */
  --box-shadow1: 2px 2px 2px #5180c8;
  --box-shadow2: 2px 2px 2px #041E42;
  --box-shadow3: 2px 2px 2px #0067ff;
  /* Start Background Colors */
  --bg-color1: #2a4c7b;
  --bg-color2: #041E42;
  --bg-color3: #3e4e64;
  /* Font Family Variables */
  --roboto: 'Roboto', sans-serif;
}

.button-1 {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 17px;
  color: var(--font-color2);
  background-color: var(--bg-color2);
  border: 2px solid var(--border-color1);
  -webkit-box-shadow: var(--box-shadow1);
          box-shadow: var(--box-shadow1);
}

.button-1.button-1:hover {
  background-color: var(--bg-color1);
  -webkit-box-shadow: var(--box-shadow2);
          box-shadow: var(--box-shadow2);
  color: var(--font-color2);
  border: 2px solid var(--border-color3);
}

.button-2 {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 17px;
  background-color: var(--bg-color1);
  -webkit-box-shadow: var(--box-shadow3);
          box-shadow: var(--box-shadow3);
  color: var(--font-color2);
  border: 2px solid var(--border-color2);
}

.button-2.button-2:hover {
  color: var(--font-color2);
  background-color: var(--bg-color2);
  border: 2px solid var(--border-color1);
  -webkit-box-shadow: var(--box-shadow1);
          box-shadow: var(--box-shadow1);
}

.hero section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero section .hero-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px 0 20px;
}

.hero section .img-hero {
  padding: 0;
}

.hero section .img-hero img {
  border-radius: 0 24px 24px 0;
}

.hero section .img-hero, .hero section .hero-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero section .hero-buttons button {
  margin: 0 10px 20px 10px;
}

@media screen and (max-width: 320px) {
  .hero-buttons {
    text-align: center;
  }
  .hero-buttons button {
    margin: 0 0 20px 0 !important;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 8vw;
  }
  h6 {
    text-align: center;
  }
  p {
    font-size: 4vw;
  }
  .hero-buttons .button-1 {
    font-size: 4vw;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer .first-row {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 769px) {
  html, body {
    overflow-x: hidden !important;
  }
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  nav .open, nav .close {
    display: block;
  }
  nav .close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  nav .switcher:checked ~ .menu-nav {
    right: 0;
  }
  nav img {
    margin-left: 0 !important;
  }
  nav .menu-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--bg-color2);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0;
    -webkit-transition: .7s !important;
    transition: .7s !important;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0 0 0;
  }
  nav ul a {
    padding: 34px 0 !important;
    font-size: 21px !important;
  }
  nav ul a:hover {
    color: #f8f9fa !important;
  }
  .hero section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero section .img-hero {
    height: 55%;
  }
  .hero section .img-hero img {
    border-radius: 24px 24px 0 0 !important;
  }
  .hero section .img-hero, .hero section .hero-items {
    width: 100%;
  }
  .footer .item:nth-of-type(2) {
    margin-left: 0 !important;
  }
  .select-event form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .select-event form .select-item {
    margin-bottom: 10px;
  }
  .select-event form .button-item {
    text-align: center !important;
  }
}

@media (max-width: 991px) {
  .feature-item .feature-section {
    margin: 10px;
  }
}

/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger.

* Medium, which has the md class infix is 768px or larger.

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger.

* Extra extra large, which is infixed by xxl , is 1400px or larger.
*/
header {
  position: fixed;
  top: 0;
  z-index: 999;
}

header nav .brand-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .brand-title p {
  margin-left: 20px;
  color: var(--font-color2);
}

header nav .switcher {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}

header nav label {
  display: none;
}

header nav label i {
  font-size: 30px;
  margin-top: 5px;
  color: white !important;
}

header nav .menu-nav {
  z-index: 99999;
}

header nav .menu-nav ul {
  margin: 0;
}

header nav .menu-nav ul a {
  display: block;
}

.select-event .item {
  padding: 1rem;
}

.select-event .item form {
  padding-bottom: 10px;
}

.select-event .item form .select-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-event .item form .select-item h6 {
  text-align: center;
  margin-bottom: 15px;
}

.select-event .item form .select-item select {
  border-radius: 10px;
}

.select-event .item form .button-item {
  text-align: right;
}

.select-event .item form .button-item button {
  margin-top: 18px;
}

.event-cards .text-main p {
  margin-bottom: 0;
}

.research-main .item section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 11rem;
}

.research-main .item section img {
  border-radius: 25px 0 0 25px;
}

/* Start library */
.work-hours .item {
  padding: 2rem;
}

.work-hours .item table {
  width: 100%;
}

.work-hours .item table th {
  color: var(--font-color4);
  font-size: x-large;
}

.work-hours .item table td {
  color: var(--font-color2);
}

.work-hours .item table td, .work-hours .item table th {
  text-align: center;
  padding: 8px 15px;
}

.work-hours .item table tr:nth-child(even) {
  background-color: var(--bg-color3);
}

.work-hours .item table tr:nth-child(even) td {
  color: var(--font-color2);
}

/* End library File css */
/* Start Help File */
.help-main .item section {
  text-align: center;
  width: 47%;
}

.help-main .item .last-section {
  margin-left: 27%;
}

/* End Help File */
.privacy-main .item section {
  text-align: center;
  width: 47%;
}

.professors-cards .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.professors-cards .item .text-main h6 {
  margin: 5% 0;
}

.footer {
  background-color: var(--bg-color2);
}

.footer .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 3rem;
}

.footer .first-row ul {
  font-size: 15px !important;
  font-weight: 500;
  padding-left: 0;
  margin: 0;
}

.footer .first-row .item {
  text-align: left;
  margin: 1rem 0;
}

.footer .first-row .item h5 {
  color: var(--bs-blue);
}

.footer .first-row .item .contact li {
  margin-bottom: 0.5rem;
  color: var(--font-color2);
}

.footer .first-row .item .contact li span {
  margin-left: 7px;
}

.footer .first-row .item .link-pages li {
  margin-bottom: 0.5rem;
}

.footer .first-row .item .link-pages li a:hover {
  margin-top: 1%;
  text-decoration: underline;
}

.footer .copyright {
  padding-bottom: 3rem;
  text-align: center;
  height: 22px;
}

.footer .copyright p {
  color: var(--font-color2);
  font-family: inherit;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature-item .feature-section {
  border-radius: 74px !important;
  width: 125px;
  height: 222px;
}

.feature-item .feature-section .text-main {
  padding: 1.5rem 0.5rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 74px !important;
}

.feature-item .feature-section .text-main .img {
  width: 60%;
}
/*# sourceMappingURL=style.css.map */