.feature-item
{
    display: flex;
    justify-content: space-around;

    .feature-section
    {   
        border-radius: 74px !important;
        width: 125px;
        height: 222px;

        .text-main
        {
            padding: 1.5rem 0.5rem !important;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            .img
            {    
                width: 60%;
            }
            border-radius: 74px !important;
        }
    }
}




