.feature-item
{
    display: flex;
    justify-content: space-between;

    .feature-section
    {   
        // border: 60px solid;
        border-radius: 74px !important;
        width: 22%;
        height: 222px;

        .text-main
        {
            padding: 1.5rem 0 !important;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            .img
            {    
                width: 60%;
            }

            // width: 100%;
            border-radius: 74px !important;
        }
    }
}




