*, body, html
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold !important;
    font-family: inherit;
    text-transform: capitalize;
}

li
{
    list-style: none;
}


/* Start Link */
a
{
    text-decoration: none;
    color: var(--font-color5) !important;
    font-size: 17px;
    // transition: .6s;

    &:hover
    {
        color: var(--font-color4) !important;
    }
}

.link
{
    padding: 10px;
}

.more
{
    text-align: center;
    margin-bottom: 1rem;

}
/* End Link */

p, h1, h2, h3, h4, h5, h6, a, button, .button-1, .button-2
{
    text-transform: capitalize;
}


a, button
{
    transition: .6s;
}


p
{
    // font-size: 16px;
    font-size: 1em;
    line-height: 28px;
    margin-top: 18px;
    letter-spacing: 1px;
    color: var(--font-color3);
    text-align: center;
}


h1
{
    text-align: center;
    color: var(--font-color6);
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 2rem;
}

h5
{
    color: var(--font-color6);
    margin-bottom: 15px;
    font-size: x-large;
}

h6
{
    color: var(--font-color2);
    margin-top: 5%;
}

// img {
//     max-width: 100%;
//     height: auto;
// }

button, select
{
    outline: none !important;
}

.cards
{
    section
    {
        width: 30% !important;
        height: auto;
            
        .img
        {
            // width: 100%;
            height: 10rem;

            img
            {
                // width: 100%;
                // height: 100%;
                border-radius: 25px 25px 0 0;
            }
        }

        .text-main
        {
            width: 100%;
            height: auto;
            text-align: center;

            a
            {
                // border: 0;
                // padding: 0;
                // transition: .6s;

                &:hover
                {
                    text-decoration: underline;
                }
            }

            p
            {
                // margin-bottom: 0;
            }
        }
    }
}

main
{
    margin: 3em 0;

    .item
    {
        background-color: var(--bg-color2);
        border: 3px solid var(--border-color2);
        // padding: 1rem;
        padding: 1rem 1rem 0 1rem;
        // display: flex;
        border-radius: 25px;

        &.item-small
        {
            width: 60%;
            position: relative;
            left: 21%;
        }

        section
        {
            border: 2px solid var(--border-color2);
            margin-bottom: 1rem;
            padding: 0;
            border-radius: 25px;
            background-color: var(--bg-color3);
            // width: 97.5%;
            // margin: 1rem;

            img
            {
                width: 100%;
                height: 100%;
            }
        
            .text-main
            {
                padding: 1rem;
                height: 100%;
        
                p
                {
                    line-height: 22px;
                }
            }
        }
    }
}


.search-box
{
    position: relative;
    
    h1
    {
        margin-bottom: 0 !important;
    }
    .search
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        input.form-control
        {
            font-size: 18px;
            margin: 1rem 0;
            border-radius: 16px;
            border: 3px solid var(--border-color1);
        }

        button
        {
            margin-bottom: 1rem;
        }
    }
}

.line-bottom
{
    border-bottom: 3px solid var(--border-color2);
}

.line-top
{
    border-top: 3px solid var(--border-color2);
}

.first-item
{
    margin-top: 7.5em !important;
}

.social-links
{
    display: inline-flex;
    margin-bottom: 0;

    li
    {
        margin-right: 1.5rem;
        width: 30px;
        transition: .3s ease;

        a
        {
           font-size: 28px !important;

            &:hover
            {
                font-size: 40px !important;
            }
        }
    }
}


