// Start Header
header
{
    position: fixed;
    top: 0;
    z-index: 999;
    nav
    {
        .brand-title
        {
            display: flex;
            align-items: center;

            p
            {
                margin-left: 20px;
                color: var(--font-color2);
            }
        }

        .switcher
        {
            position: absolute;
            visibility: hidden;
            left: -9999px;
        }

        label
        {
            display: none;

            i
            {
                font-size: 30px ;
                margin-top: 5px;
                color: white !important;
            }
        }

        .menu-nav
        {
            z-index: 99999;
            
            ul
            {
                margin: 0;

                a
                {
                    display: block;
                }
        }
        }
    }
}
// End Header





//  Start Events
//  Start Select Events
.select-event
{    
    .item
    {
        padding: 1rem;

        form
        {
            padding-bottom: 10px;

            .select-item
            {
                flex-direction: column;
                display: flex;

                h6
                {
                    text-align: center;
                    margin-bottom: 15px;
                }
                
                select
                {
                    border-radius: 10px;
                }
            }

            .button-item
            {
                text-align: center;
                width: 14.666667%;

                button
                {
                    margin-top: 18px;
                }
            }
            
        }
    }
    
}
//  End Select Events





//  Start Events Cards
.event-cards
{
    .text-main
    {
        p
        {
            margin-bottom: 0;
        }
    }
}
//  End Events Cards
//  End Events





// Start Research Main
.research-main
{
    .item
    {
        // height: 199vh;
        // display: flex;
        // flex-direction: column;
        // align-content: space-between;
        // justify-content: space-between;

        section
        {
            display: flex;
            height: 11rem;

            img
            {
                border-radius: 25px 0 0 25px;
            }
        }
    }
}
// End Research Main
// End Reseach





/* Start library */
.work-hours
{
    .item
    {
        padding: 2rem;

        table
        {
            width: 100%;

            th
            {
                color: var(--font-color4);
                font-size: x-large;
            }

            td
            {
                color: var(--font-color2);
            }

            td, th
            {
                text-align: center;
                padding: 8px 15px;
            }

            tr:nth-child(even)
            {
                background-color: var(--bg-color3);

                td
                {
                    color: var(--font-color2);                
                }
            }
        }    
    }
}
/* End library File css */




/* Start Help File */
.help-main
{
    .item
    {
        section
        {
            text-align: center;
            width: 47%;
        }

        .last-section
        {    
            margin-left: 27%;
        }
    }
}
/* End Help File */





// Start Privacy
.privacy-main
{
    .item
    {
        
        section
        {
            text-align: center;
            width: 47%;
        }
    }
}




// Start Professors
.professors-cards
{
    .item
    {
        display: flex;
        justify-content: space-between;

        .text-main
        {
            h6
            {
                margin: 5% 0;
            }
        }
    }
}
// End Professors