@media screen and (max-width: 320px)
{
    .hero-buttons
    {
        text-align: center;

        button
        {
            margin: 0 0 20px 0 !important;
        }
    }
}



@media (max-width: 425px)
{
    // .hero
    // {
    //     section 
    //     {
    //         height: 137vh;        
    //     }
    // }

    h1
    {
        font-size: 8vw;
    }

    h6
    {
        text-align: center;
    }

    p 
    {
        font-size: 4vw;
    }

    .hero-buttons
    {
        .button-1 
        {
            font-size: 4vw;
        }
    }
}



// Start Small Screens (Smaller Smartphones)
@media screen and (min-width: 425px) and (max-width: 768px)
{
        // Start Footer
        .footer
        {
            .first-row
            {
                display: grid !important;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
            }
        }
}
// End Small Screens (Smaller Smartphones)



// Start Medium Screens (Tablets And Larger Smartphones)
@media screen and (max-width: 769px)
{

    html, body
    {
        overflow-x: hidden !important;
    }

    main {
        section {
            // width: 100% !important;
            // margin: 0 !important;
            display: flex;
            flex-direction: column;
        }
    }

    .cards
    {
        .container
        {
            width: 90% !important;
        
            .item
            {
                section
                {
                    width: 100% !important;

                    .text-main 
                    {
                        height: 58% !important;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }
            }
        }
    }        


// End Home Page File
    // Start Navbar
    nav
    {
        // margin-right: -3px;
    
        .open, .close
        {
            display: block;
        }

        .close
        {
            position: absolute;
            top: 40px;
            right: 40px;
        }

        .switcher:checked ~ .menu-nav
        {
            right: 0;
        }

        img
        {
            margin-left: 0 !important;
        }

        .menu-nav
        {
            position: fixed;
            width: 100%;
            height: 100%;
            background: var(--bg-color2);
            right: -100%;
            top: 0;
            text-align: center;
            padding: 100px 0;
            transition: .7s !important;
        }

        ul
        {
            flex-direction: column;
            padding: 2rem 0 0 0;
            
            a
            {
                padding: 34px 0 !important;
                font-size: 21px !important;

                &:hover
                {
                    color: #f8f9fa !important;
                }
            }
        }
    }
    // End Navbar

    // Start hero
    .hero
    {
        section
        {
            // height: 102vh;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            align-content: space-between;
            flex-direction: column-reverse;
           

            // .hero-items 
            // {
            //     // position: absolute;
            //     // left: 0 !important;
            //     // padding: 5% 0;
            //     // width: 100%;
            // }

            .img-hero
            {

                height: 55%;

                img
                {
                    border-radius: 24px 24px 0 0 !important;
                }
            }

            .img-hero, .hero-items
            {
                width: 100%;
            }
        }
    }
    // End Hero

//     .research-main
//     {
//         .item
//         {   
//             display: flex;
//             flex-wrap: wrap;
//             align-items: flex-end;
//             align-content: space-between;
//             flex-direction: column-reverse;

//             section
//             {
//             }
//         }
//     }

    // Start Footer
    .footer
    {
        .item
        {           
            &:nth-of-type(2)
            {
                margin-left: 0 !important;
            }

        }
    }

// End Home Page File


// Start Event
.select-event
{
    form
    {
        flex-direction: column;

        .select-item 
        {  
            margin-bottom: 10px;
        }    
        .button-item 
        {
            text-align: center !important;
        }
    }
}
// End Event
}
// End Medium Screens (Tablets And Larger Smartphones)



@media screen and (min-width: 768px) and (max-width: 936px)
{
    .cards
    {
        .item
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;

            section
            {
                width: 90% !important;
            }
        }
    }


    .more
    {
        position: relative;
        left: 50%;
    }
}



// Start Medium Screens (Tablets And Larger Smartphones)
@media (max-width: 991px)
{
    .feature-item 
    {
        .feature-section
        {
            margin: 10px;
        }
    }
}
// End Medium Screens (Tablets And Larger Smartphones)



// Start Large Screens (Laptops)
@media (min-width: 769px) and (max-width: 1299px)
{

}
// End Large Screens (Laptops)



// Start XX Large Screens (Larger Desktops And Monitors)
@media (min-width: 1300px)
{

}
// End XX Large Screens (Larger Desktops And Monitors)















/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger.

* Medium, which has the md class infix is 768px or larger.

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger.

* Extra extra large, which is infixed by xxl , is 1400px or larger.
*/
