// Start Mobile Screens
@media screen and (max-width: 320px)
{
    header
    {
        nav
        {
            padding: 10px 0;
            // height: 15vh !important;

        
            img {
                width: 28vw !important;
            }
    
            label
            {
                i {
                    font-size: 10vw !important;
                }
            }
        }
    }

    .hero-buttons
    {
        text-align: center;
    }
}

@media (max-width: 425px)
{
    h1
    {
        // font-size: 8vw;
        font-size: 7vw;
    }

    h6
    {
        text-align: center;
    }

    p 
    {
        font-size: 4vw;
    }

    .hero-buttons
    {
        .button-1 
        {
            font-size: 4vw;
        }
    }
}

@media screen and (max-width: 460px)
{
    main
    {
        .item.item-small {
            width: 85% !important;
            // position: relative;
            left: 11% !important;
        }
    }


    .search-box
    {

        button
        {
            font-size: 3.9vw;
        }
    }

    .research-main
    {
        h5 {
            // font-size: 4.5vw;
            font-size: 5vw;
        }

        p {
            // font-size: 3.3vw;
            font-size: 4vw;
        }
    }

    .research-main
    {
        section
        {
            flex-direction: column;
            height: 100% !important;

            .img
            {
                height: 34vh;

                img
                {
                    border-radius: 25px 25px 0 0 !important;
                }
            }

            .text-main {
                height: 50% !important;
                display: flex;
                flex-direction: column;
                align-items: center !important;
                justify-content: space-between;
            
                h5 {
                    text-align: center;
                }
        
                p {
                    text-align: center !important;
                }
            }

            button
            {
                font-size: 4vw;
            }
        }

        .more
        {
            button
            {
                font-size: 4vw;
            }
        }
    }

    .work-hours
    {
        .item {
            padding: 1rem !important;
            
            th
            {
                font-size: 5vw !important;
            }

            td
            {
                font-size: 3.5vw;
            }
        }
    }

}
// Start Mobile Screens



// Start Large Screens
@media screen and (min-width: 425px) and (max-width: 768px)
{
    // Start Footer
    .footer
    {
        .first-row
        {
            display: grid !important;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
    }
}

@media screen and (max-width: 769px)
{
    .container
    {
        width: 90% !important;
    }

    main {
        section {
            display: flex;
            flex-direction: column;
        }
    }

    .cards
    {
        .container
        {
            width: 90% !important;
        
            .item
            {
                section
                {
                    width: 100% !important;

                    .text-main 
                    {
                        height: 58% !important;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }
            }
        }
    }   
    
    .help-main, .privacy-main
    {
        .item
        {
            // display: flex;
            // flex-direction: column;
            // align-items: center;

           section
           {
               width: 100% !important;

                .text-main
                {
                    height: 100% !important;
                }
           }

           .last-section 
            {
                margin-left: 0 !important;
            }
        }
    }



    // End Home Page File
    // Start Navbar
    nav
    {
        .open, .close
        {
            display: block;
        }

        .close
        {
            position: absolute;
            top: 40px;
            right: 40px;
        }

        .switcher:checked ~ .menu-nav
        {
            right: 0;
        }

        img
        {
            margin-left: 0 !important;
        }

        .menu-nav
        {
            position: fixed;
            width: 100%;
            height: 100%;
            background: var(--bg-color2);
            right: -100%;
            top: 0;
            text-align: center;
            padding: 100px 0;
            transition: .7s !important;
        }

        ul
        {
            flex-direction: column;
            padding: 2rem 0 0 0;
            
            a
            {
                padding: 34px 0 !important;
                font-size: 21px !important;

                &:hover
                {
                    color: #f8f9fa !important;
                }
            }
        }
    }
    // End Navbar

    // Start hero
    .hero
    {
        section
        {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            align-content: space-between;
            flex-direction: column-reverse;
           

            .img-hero
            {
                img
                {
                    border-radius: 24px 24px 0 0 !important;
                }
            }

            .img-hero, .hero-items
            {
                width: 100%;
            }
        }
    }
    // End Hero


    // Start Footer
    footer
    {
        .item
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center !important;

            .social-links
            {
                li {
                    margin: 0 0.6rem;
                }
            }

            &:nth-of-type(2)
            {
                margin-left: 0 !important;
            }
        }
    }

    // End Home Page File


    // Start Event
    .select-event
    {
        form
        {
            flex-direction: column;

            .select-item 
            {  
                margin-bottom: 10px;
            }    
            .button-item 
            {
                text-align: center !important;
            }
        }
    }
    // End Event
}

@media screen and (min-width: 770px) and (max-width: 990px)
{
    .cards
    {
        .item
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
    }

    .professors-cards
    {
        .item
        {
            section
            {
                width: 49% !important;
            }
    
            .more {
                position: relative;
                right: 0%;
            }
        }
    }

    .event-cards
    {
        section
        {
            width: 95% !important;
        }
    }
}

@media screen and (min-width: 770px) and (max-width: 991px)
{
    .event-cards
    {
        .more
        {
            position: relative !important;
            left: 50% !important;
        }
    }
}



@media screen and (max-width: 991px)
{
    .feature-item 
    {
        .feature-section
        {
            margin: 10px;
        }
    }

    //  Start Research Page
    .search-box
    {
        button
        {
            margin-bottom: 0.9rem !important;
        }
    }

    .research-main
    {
        section
        {
            flex-direction: column;
            height: 100% !important;

            .img
            {
                height: 34vh;

                img
                {
                    border-radius: 25px 25px 0 0 !important;
                }
            }

            .text-main {
                height: 50% !important;
                display: flex;
                flex-direction: column;
                align-items: center !important;
                justify-content: space-between;
            
                h5 {
                    text-align: center;
                }
        
                p {
                    text-align: center !important;
                }
            }
        }
    }

    .cards, .help-main
    {
        .text-main
        {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: space-between;
        }
    }

    .cards
    {
        .text-main
        {
            height: 50% !important;
        }
    }
}

@media screen and (max-width: 1440px)
{
    html, body
    {
        overflow-x: hidden !important;
    }
}
// End Large Screens










/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger.

* Medium, which has the md class infix is 768px or larger.

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger.

* Extra extra large, which is infixed by xxl , is 1400px or larger.
*/
